<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet" href="/css/output.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!-- this is side nav bar mobile device -->
    <div class="side-nav">
        <div class="side-nav-header">
            <div class="logo-container">
                <!-- <img src="../public/images/Pillaipo.png" alt=""> -->
                <img src="/images/Pillaipo.png" alt="">
                <p>Pillai Buzz</p>
                
                <a class="side-nav-close-btn">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>

        <div class="side-nav-btns">
            <a class="my-feed">My Feed</a>
            <a class="more">More</a>
        </div>
    </div>

    <!-- overlay for focusing on sidenav -->
    <div id="side-nav-overlay" class="w-full h-full absolute bg-black opacity-50 z-20 hidden"></div>

    <header>
        <div class="first-nav-part">
            <a id="show-side-nav-btn">
                <i class='bx bx-menu'></i>
            </a>
            <div class="logo-container">
                <!-- <img src="../public/images/Pillaipo.png" alt=""> -->
                <img src="/images/Pillaipo.png" alt="">
                <p>Pillai Buzz</p>
            </div>
        </div>

        <div class="second-nav-part">
            <a>My Feed</a>
            <a>Bookmarks</a>
        </div>

        <div class="third-nav-part">
            <div class="search-logo-container">
                <i class='bx bx-search'></i>
            </div>
            <a href="/editor" class="write-btn">
                <i class='bx bx-edit-alt'></i>
                <p>Write</p>
            </a>
            <div class="dark-mode-container">
                <i class='bx bx-moon'></i>
            </div>
            <div class="notification-logo-container">
                <i class='bx bx-bell'></i>
            </div>
            <div class="profile-logo-container">
                <a href="profile">
                    <!-- <img src="../public/images/user.png" alt=""> -->
                    <img src="/images/user.png" alt="">
                </a>
            </div>
        </div>
    </header>


    <main class="flex flex-col items-center mt-2 md:w-[60%] h-fit shadow-md shadow-black mx-auto rounded-lg
     sm:w-[70%] w-full ">
        <div class="sm:w-70% h-fit rounded-sm mx-auto flex flex-col items-center gap-4
        w-full">
            <div id="post" class="h-fit flex flex-col w-[90%] items-center rounded-md pt-4 px-4 shadow-custom-shadow-1">
                <div id="author-info" class="flex justify-start bg-white self-start">
                    <div class="size-14 ring-blue-600">
                        <!-- <img src="../public/images/user.png" alt=""> -->
                        <img src="/images/user.png" alt="">
                    </div>
                    <div class="ml-2 mt-2">
                        <h2 class="md:text-[20px] text-[18px] font-serif leading-4 ">Vishwas Babar</h2>
                        <span class="text-[14px] mt-0">@vishwas_babar9</span>
                    </div>
                </div>

                <hr >

                <div class="ml-3 w-full">
                    <h1 role="heading" class="md:text-[22px] text-[20px] my-2 font-[500] leading-tight text-neutral-800">
                        Get Ready For The Biggest Developer Conference at Pillai College!
                    </h1>
                </div>
                <div
                    class="rounded-md w-full h-48 sm:h-52 md:h-68 lg:h-80 overflow-hidden flex items-center justify-center shadow-custom-shadow-1">
                    <!-- <img class="w-auto h-full" src="../public/images/news.jpeg" alt=""> -->
                    <img class="w-auto h-full" src="/images/news.jpeg" alt="">
                </div>
                <div class="mt-1 flex justify-between w-full relative">
                    <div class=" flex justify-start w-full">
                        <a class="comments-btn ml-0">
                            <i class='bx bx-message-rounded'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="likes-btn ml-3">
                            <i class='bx bx-heart'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="bookmark-btn">
                            <i class='bx bx-bookmark'></i>
                        </a>
                        <a class="reads-counts">34k reads</a>
                    </div>
                </div>
            </div>
    
            <div id="post" class="h-fit flex flex-col w-[90%] items-center rounded-md pt-4 px-4 shadow-custom-shadow-1">
                <div id="author-info" class="flex justify-start bg-white self-start">
                    <div class="size-14 ring-blue-600">
                        <!-- <img src="../public/images/user.png" alt=""> -->
                        <img src="/images/user.png" alt="">
                    </div>
                    <div class="ml-2 mt-2">
                        <h2 class="md:text-[20px] text-[18px] font-serif leading-4 ">Vishwas Babar</h2>
                        <span class="text-[14px] mt-0">@vishwas_babar9</span>
                    </div>
                </div>

                <hr >

                <div class="ml-3 w-full">
                    <h1 role="heading" class="md:text-[22px] text-[20px] my-2 font-[500] leading-tight text-neutral-800">
                        Get Ready For The Biggest Developer Conference at Pillai College!
                    </h1>
                </div>
                <div
                    class="rounded-md w-full h-48 sm:h-52 md:h-68 lg:h-80 overflow-hidden flex items-center justify-center shadow-custom-shadow-1">
                    <!-- <img class="w-auto h-full" src="../public/images/news.jpeg" alt=""> -->
                    <img class="w-auto h-full" src="/images/news.jpeg" alt="">
                </div>
                <div class="mt-1 flex justify-between w-full relative">
                    <div class=" flex justify-start w-full">
                        <a class="comments-btn ml-0">
                            <i class='bx bx-message-rounded'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="likes-btn ml-3">
                            <i class='bx bx-heart'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="bookmark-btn">
                            <i class='bx bx-bookmark'></i>
                        </a>
                        <a class="reads-counts">34k reads</a>
                    </div>
                </div>
            </div>
    
            <div id="post" class="h-fit flex flex-col w-[90%] items-center rounded-md pt-4 px-4 shadow-custom-shadow-1">
                <div id="author-info" class="flex justify-start bg-white self-start">
                    <div class="size-14 ring-blue-600">
                        <!-- <img src="../public/images/user.png" alt=""> -->
                        <img src="/images/user.png" alt="">
                    </div>
                    <div class="ml-2 mt-2">
                        <h2 class="md:text-[20px] text-[18px] font-serif leading-4 ">Vishwas Babar</h2>
                        <span class="text-[14px] mt-0">@vishwas_babar9</span>
                    </div>
                </div>

                <hr >

                <div class="ml-3 w-full">
                    <h1 role="heading" class="md:text-[22px] text-[20px] my-2 font-[500] leading-tight text-neutral-800">
                        Get Ready For The Biggest Developer Conference at Pillai College!
                    </h1>
                </div>
                <div
                    class="rounded-md w-full h-48 sm:h-52 md:h-68 lg:h-80 overflow-hidden flex items-center justify-center shadow-custom-shadow-1">
                    <!-- <img class="w-auto h-full" src="../public/images/news.jpeg" alt=""> -->
                    <img class="w-auto h-full" src="/images/news.jpeg" alt="">
                </div>
                <div class="mt-1 flex justify-between w-full relative">
                    <div class=" flex justify-start w-full">
                        <a class="comments-btn ml-0">
                            <i class='bx bx-message-rounded'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="likes-btn ml-3">
                            <i class='bx bx-heart'></i>
                            <span>1.4k</span>
                        </a>
                        <a class="bookmark-btn">
                            <i class='bx bx-bookmark'></i>
                        </a>
                        <a class="reads-counts">34k reads</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- <main>
        <div class="news-card">
            <div class="user-info-container">
                <div class="news-profile-img">
                    <img src="/images/user.png" alt="">
                </div>
                <div class="author-info">
                    <p class="user-name">vishwas babar1</p>
                    <div>
                        <span class="role">Web Developer</span>
                        <span> - </span>
                        <span class="date">1h ago</span>
                    </div>
                </div>
            </div>

            <div class="news-info">
                <h2 class="news-heading">
                    Get Ready For The Biggest Developer Conference at Pillai College!
                </h2>

                <div class="discription-container">
                    <p class="news-discription">
                        Pillai College of Engineering is organizing a 2-day Developer Conference on 27th and 28th of
                        February 2021. The conference will be held online and will be streamed live on YouTube. The
                        conference will be conducted by the Pillai HOC College of Engineering and Technology, Rasayani,
                        Maharashtra. The conference will be conducted by the Pillai HOC College of Engineering and
                        Technology, Rasayani, Maharashtra.
                    </p>
                </div>
            </div>

            <div class="news-img">
                <img src="/images/news.jpeg" alt="">
            </div>

            <div class="reach-container">
                <a class="comments-btn" >
                    <i class='bx bx-message-rounded'></i>
                    <span>1.4k</span>
                </a>
                <a class="likes-btn" >
                    <i class='bx bx-heart'></i>
                    <span>1.4k</span>
                </a>
                <a class="reads-counts">34k reads</a>
                <a class="bookmark-btn">
                    <i class='bx bx-bookmark'></i>
                </a>
            </div>
        </div>

    </main> -->
    <button class="show-more-btn">More</button>
    <div class="gap-div"></div>

    <!-- making the bottom nav bar it is for mobile device -->
    <div class="bottom-nav">
        <a class="home-feed">
            <i class='bx bx-home'></i>
        </a>
        <a class="bookmarks">
            <i class='bx bx-bookmark'></i>
        </a>
        <a class="search">
            <i class='bx bx-search'></i>
        </a>
        <a class="notification">
            <i class='bx bx-bell'></i>
        </a>
    </div>

    <script src="../public/js/script.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>