<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <div class="first-nav-part">
            <a id="show-side-nav-btn">
                <i class='bx bx-menu'></i>
            </a>
            <div class="logo-container">
                <img src="../public/images/Pillaipo.png" alt="">
                <p>Pillai Buzz</p>
            </div>
        </div>

        <div class="second-nav-part">
            <a>My Feed</a>
        </div>

        <div class="third-nav-part">
            <div class="search-logo-container">
                <i class='bx bx-search' ></i>
            </div>
            <a class="write-btn">
                <i class='bx bx-edit-alt' ></i>
                <p>Write</p>
            </a>
            <div class="dark-mode-container">
                <i class='bx bx-moon' ></i>
            </div>
            <div class="notification-logo-container">
                <i class='bx bxs-bell' ></i>
            </div>
            <div class="profile-logo-container">
                <a href="profile.html">
                    <img src="../public/images/user.png" alt="">
                </a>
            </div>
        </div>
    </header>


    <script src="../public/js/script.js"></script>
</body>
</html>