<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login now!</title>

    <link rel="stylesheet" href="../public/css/login_signup.css">
</head>

<body>
    <main>
        <div class="side-img-container">
            <img src="../public/images/user_design.png" alt="">
        </div>
        <div class="form-container">
            <div class="inner-form-container">

                <div class="login-form-container">
                    <div class="login-heading-container">
                        <h2>Welcome to</h2>
                        <h1>Pillai Buzz</h1>
                    </div>

                    <div class="other-login-options-container">
                        <button>
                            <img src="../public/images/google-logo.png" alt="">
                            <span>Login With Google</span>
                        </button>
                    </div>

                    <div class="or-container">
                        <div class="left-line"></div>
                        <span>OR</span>
                        <div class="right-line"></div>
                    </div>

                    <form class="page">

                        <div class="field field_v1">
                            <label for="email" class="ha-screen-reader">Email</label>
                            <input id="email" class="field__input" placeholder="e.g. xyz34@gmail.com">
                            <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">Email</span>
                            </span>
                        </div>

                        <div class="field field_v2">
                            <label for="password" class="ha-screen-reader">Password</label>
                            <input id="password" type="password" class="field__input" placeholder="e.g. 123456">
                            <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">Password</span>
                            </span>
                        </div>

                       
                        <div class="submit-btn-container">
                            <a class="forgot-pwd">Forgot Password?</a>
                            <button class="login-btn" type="submit">Login</button>
                            <p class="register-statement">Don’t have an account? <a class="register-btn">Register</a></p>
                        </div>

                    </form>
                </div>

                <div class="signup-form-container">

                    <div class="login-heading-container">
                        <h2>Create Account On</h2>
                        <h1>Pillai Buzz</h1>
                    </div>

                    <div class="other-login-options-container">
                        <button>
                            <img src="../public/images/google-logo.png" alt="">
                            <span>Continue With Google</span>
                        </button>
                    </div>

                    <div class="or-container">
                        <div class="left-line"></div>
                        <span>OR</span>
                        <div class="right-line"></div>
                    </div>

                    
                    <form class="page">
                        <div class="field field_v1">
                            <label for="userid" class="ha-screen-reader">userid</label>
                            <input id="userid" class="field__input" placeholder="e.g. xyz_345">
                            <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">user id</span>
                            </span>
                        </div>
                        <div class="field field_v2">
                            <label for="password" class="ha-screen-reader">Password</label>
                            <input id="s-password" type="password" class="field__input" placeholder="e.g. 123456">
                            <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">Password</span>
                            </span>
                        </div>
                        <div class="field field_v3">
                            <label for="email" class="ha-screen-reader">E-mail</label>
                            <input id="s-email" class="field__input" placeholder="e.g. melnik909@ya.ru">
                            <span class="field__label-wrap" aria-hidden="true">
                                <span class="field__label">E-mail</span>
                            </span>
                        </div>

                        <div class="submit-btn-container">
                            <button class="login-btn" type="submit">Create</button>
                            <p class="register-statement">Already have account? <a class="register-btn switch-login-btn">Login</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>


    <script src="../public/js/login_signup.js"></script>
</body>

</html>