<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet" href="../public//css/myprofile.css">
    <link rel="stylesheet" href="/css/myprofile.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!-- side nav for small screens -->
    <nav id="side-nav"
        class="flex ml-[-100%] flex-col justify-start w-3/4 h-full fixed z-30 bg-custom-gray shadow-md transition-all duration-450 ease-linear">
        <div class="flex justify-between w-full h-17 p-3">
            <div class="flex w-full h-full items-center p-2 relative">
                <!-- <img class="size-14 overflow-hidden rounded-full" src="../public/images/Pillaipo.png" alt=""> -->
                <img class="size-14 overflow-hidden rounded-full" src="/images/Pillaipo.png" alt="">
                <p id="pillaibuzz-logo" class="text-[30px] ">Pillai Buzz</p>

                <a id="side-nav-close-btn" class="side-nav-close-btn absolute right-1 size-10 cursor-pointer flex items-center justify-center rounded-full transition-all duration-300 ease-in-out hover:shadow-custom-shadow-1 active:scale-105
                        active:shadow-custom-shadow-1">
                    <i class='bx bx-x text-[28px]'></i>
                </a>
            </div>
        </div>



        <div
            class="side-nav-btns flex flex-col *:w-full *:h-11 *:flex *:items-center *:px-[10px] *:py-[20px] *:transition-all *:cursor-pointer duration-300 ease-in-out">
            <a href="/" class="hover:shadow-custom-shadow-1 active:scale-[1.01]">My Feed</a>
            <a class="hover:shadow-custom-shadow-1 active:scale-[1.01]">More</a>
        </div>
    </nav>


    <!-- overlay for focusing on sidenav -->
    <div id="side-nav-overlay" class="w-full h-full fixed left-0 top-0 bg-black opacity-50 z-20 hidden"></div>



    <!-- top nav -->
    <nav id="top-nav"
        class="flex items-center justify-between w-full h-20 overflow-hidden bg-custom-gray transition-all duration-500 ease-linear"
        type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
        aria-controls="drawer-navigation">
        <a id="show-side-nav-btn"
            class="h-10 w-10  ml-3 p-2 border rounded-full flex md:hidden items-center justify-center cursor-pointer">
            <i class='bx bx-menu h-10 w-10 text-[28px] flex items-center justify-center'></i>
        </a>
        <div onclick="window.location.href='/'" class="w-fit h-full ml-5 items-center md:flex hidden cursor-pointer">
            <!-- <img class="h-[60px] w-[60px] rounded-full bg-contain" src="../public/images/Pillaipo.png" alt=""> -->
            <img class="h-[60px] w-[60px] rounded-full bg-contain" src="/images/Pillaipo.png" alt="">
            <h2 id="pillaibuzz-logo" class="">Pillai Buzz</h2>
        </div>

        <div class="gap-[10px] items-center w-fit h-full hidden md:flex">
            <a  href="/"
                class="rounded-[20px] hover:bg-custom-primary hover:text-white hover:shadow-md px-[20px] py-[10px] transition-all duration-[0.3s] ease-in-out">
                My Feed
            </a>
            <a  href="/bookmarks"
                class="rounded-[20px] hover:bg-custom-primary hover:text-white hover:shadow-md px-[20px] py-[10px] transition-all duration-[0.3s] ease-in-out">
                Bookmarks
            </a>
        </div>

        <div class="flex items-center justify-center ml-[10px] gap-[10px]">

            <div id="search-ic"
                class="sm:flex hidden cursor-pointer items-center justify-center size-10 rounded-full transition-all duration-300 ease-in-out hover:shadow-custom-shadow-1">
                <i class='bx bx-search text-[25px]'></i>
            </div>

            <a class="btn-primary flex items-center justify-center gap-1" id="write-btn" href="/editor" class="">
                <i class='bx bx-edit-alt text-[20px]'></i>
                <p>Write</p>
            </a>

            <div id="dark-mode-ic"
                class="flex items-center cursor-pointer justify-center size-10 rounded-full transition-all duration-300 ease-in-out hover:shadow-custom-shadow-1">
                <i class='bx bx-moon text-[25px]'></i>
            </div>

            <div id="bell-ic"
                class="sm:flex hidden cursor-pointer items-center justify-center size-10 rounded-full transition-all duration-300 ease-in-out hover:shadow-custom-shadow-1">
                <i class='bx bx-bell text-[25px]'></i>
            </div>

        </div>
    </nav>


    <!-- main -->
    <main class="flex flex-col items-center w-full mt-2 md:w-[70%] min-h-full shadow-md shadow-black mx-auto rounded-lg
    sm:w-[70%] lg:w-[50%]">


        <!-- profile container -->
        <div class="flex sm:flex-row flex-col min-h-52 w-full my-2 sm:my-9 items-center border-b ">

            <div class="md:size-[200px] size-[150px] flex items-center rounded-full overflow-hidden ml-7">
                <!-- <img src="../public/images/user.png" alt=""> -->
                <img id="profile-photo" src="/images/user.png" class="rounded-full" alt="">
            </div>


            <div class=" w-full h-full p-7 flex justify-between">
                <div class=" w-fit">
                    <h2 id="user-name" class="text-[22px] sm:mt-0 font-serif leading-4 mb-0 text-nowrap"></h2>
                    <span id="user-id" class="text-[14px] mt-0 text-nowrap"></span>
                    <p id="role" class="text-[18px] leading-7">Student at phcet</p>

                    <div class="flex gap-5 mt-2 sm:mt-11">
                        <p class="">79 Followers</p>
                        <p>56 Following</p>
                    </div>
                </div>

                <div>
                    <div>
                        <button class="btn-primary flex flex-nowrap">
                            <i class='bx bx-edit-alt text-[17px]'></i>
                            <span class="sm:inline-block hidden">Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <hr class="h-px my-1 bg-black border-0 dark:bg-gray-700">

        <!-- users post -->
        <div id="post-container" class="sm:w-70% h-full rounded-sm mx-auto flex flex-col flex-grow items-center gap-4 
        w-full px-6">
            
            <!-- <div class="w-full flex justify-center">
                <div id="post"
                    class="h-fit flex flex-col w-[90%] min-w-[90%] items-center rounded-md pt-4 px-4 shadow-custom-shadow-1">
                    <div id="author-info" class="flex justify-start bg-white self-start" data-user_id="${author_id}">
                        <div class="size-14 ring-blue-600">
                            <img src="/images/user.png" alt="">
                        </div>
                        <div class="ml-2 mt-2">
                            <h2 class="md:text-[20px] text-[18px] font-serif leading-4 ">${authorName}</h2>
                            <span class="text-[14px] mt-0">@${authorUserId}</span>
                        </div>
                    </div>

                    <hr>

                    <div id="post-field" data-post_id="${post_id}" class="w-full">
                        <div class="ml-3 w-full">
                            <h1 role="heading"
                                class="md:text-[22px] text-[20px] my-2 font-[500] leading-tight text-neutral-800">
                                ${title}
                            </h1>
                        </div>
                        <div
                            class="rounded-md w-full h-48 sm:h-52 md:h-68 lg:h-80 overflow-hidden flex items-center justify-center shadow-custom-shadow-1">
                            <img class="w-auto h-full" src="/images/news.jpeg" alt="">
                        </div>
                        <div class="mt-1 flex justify-between w-full relative">
                            <div class=" flex justify-start w-full">
                                <a class="comments-btn ml-0">
                                    <i class='bx bx-message-rounded'></i>
                                    <span>${commentsCount}</span>
                                </a>
                                <a class="likes-btn ml-3">
                                    <i class='bx bx-heart'></i>
                                    <span>${likesCount}</span>
                                </a>
                                <a class="bookmark-btn">
                                    <i class='bx bx-bookmark'></i>
                                </a>
                                <a class="reads-counts">${reads} reads</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

    </main>


    <!-- bottom tab bar -->
    <div id="bottom-nav"
        class="fixed h-16 w-full bg-custom-gray bottom-0 flex items-center justify-around sm:hidden
                 *:size-10 *:rounded-md *:flex *:items-center *:justify-center *:transition-all *:duration-300 ease-in-out">
        <a href="/" id="home-feed" class="active:bg-custom-primary active:text-white">
            <i class='bx bx-home text-[23px]'></i>
        </a>
        <a id="bookmark" class="active:bg-custom-primary active:text-white">
            <i class='bx bx-bookmark text-[23px]'></i>
        </a>
        <a id="search" class="active:bg-custom-primary active:text-white">
            <i class='bx bx-search text-[23px]'></i>
        </a>
        <a id="notification" class="active:bg-custom-primary-hover active:text-white">
            <i class='bx bx-bell text-[23px]'></i>
        </a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../public//js/myprofile.js"></script>
    <script src="js/myprofile.js"></script>
</body>

</html>